{% extends "base.html" %}

{% block title %}Erro - PokeStatsBR{% endblock %}

{% block content %}
<div class="container" style="text-align: center; padding: 4rem 0;">
    <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/132.png" style="width: 120px;">
    <h1 style="font-size: 4rem; color: var(--primary); margin: 1rem 0;">500</h1>
    <p style="color: var(--text-secondary); margin-bottom: 2rem;">Algo deu errado</p>
    <a href="/" class="btn">Voltar ao Início</a>
</div>
{% endblock %}
